body {
	margin: 0 auto;
	background-color: #B66D0D;
}

hr {
	border: 2px solid;
	border-color: #4C2E05;
}

a {
	text-align: center;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-weight: bold;
	transition: 0.5s;
}

a:link, a:visited{
	background-color: #4C2E05;
	color: white;
	text-decoration: none;
	border: 1px solid;
	border-color: black;
	border-radius: 10px;
	display: inline-block; 
}

a:hover{
	background-color: #F29F2C;
	color:#4C2E05;
	box-shadow: 5px 5px 10px #4C2E05;;
}

.link:hover{
	transform: scale(1.1);
}

/* Header Section */
.header {
	height: 100px;
	display: flex;
	flex-wrap: nowrap; 
	justify-content: space-between;
	align-items: center;
}

.logo img {
	width: 100px;
	height: 100px;
	margin-left: 20px;
	border-radius: 10px;
}

.company h1 {
	width: 500px;
	margin-left: 20px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	text-shadow: 2px 2px 5px #4C2E05;;
	cursor: default;
}

.search {
	display: flex;
	flex: 1;
	align-items: center;
}

.search-bar{
	padding-left: 12px;
	border-radius: 5px;
	border-style: solid;
	width: 200px;
	height: 30px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-weight: bold;
	transition: 0.5s;
}

.search-bar:hover, .search-icon:hover{
	box-shadow: 2px 2px 5px black;
}

.search-bar::placeholder{
	font-size: 15px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.search-icon{
	border-radius: 5px;
	border-style: solid;
	border-color: grey;
	width: 30px;
	height: 36px;
}
.navigation {
	width: 30%; /* Use relative width */
	display: flex;
	align-items: center;
}

.navigation nav ul {
	list-style-type: none;
	padding: 0;
	display: flex;
}

.navigation nav ul li {
	margin-right: 20px;
}

.navigation nav ul li a{
	padding: 10px ;
}
.navigation nav ul li:last-child {
	margin-right: 0; 
}

/* Content */
.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 30px;
	margin-bottom: 20px;
}

.box {
	text-align: center;
}

.box .link {
	display: flex;
	flex-direction: column;
	margin-top: 5px;
}

.image {
	width: 200px;
	height: 200px;
}

/*Product Description*/
.product-container {
	background-color: #F29F2C;
	box-shadow: 5px 5px 10px #4C2E05;;
	display: flex;
	border: 2px;
	border-style: solid;
	border-color: black;
	border-radius: 10px ;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 70vh;
	max-width: 70%;
	margin: 0 auto;
	transition: 0.5s;
}

.product-container:hover{
	box-shadow: 2px 2px 5px black;
	transform: scale(1.1);
}

.left-section{
	background-color: #4C2E05;;
	display: flex;
	flex-direction: column;
	border: 1px solid;
	border-color: black;
	border-radius: 10px;
	margin-left: 10px;
}

.product-image{
	width: 400px;
	height: 400px;
	align-items: start;
}

.right-section{
	display: flex;
	flex-flow: column wrap;
	flex: 1;
	margin-left: 10px;
	margin-right: 10px;
}

.top-section{
	display: flex;
	flex-flow: column wrap;
}

.top-section h3{
	text-shadow: 2px 2px 5px #4C2E05;;
}

.top-section h3, .top-section p, .top-section ul li{
	align-items: center;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	list-style-type: square;
	cursor: default;
}

.quantity{
	padding-left: 12px;
	border-radius: 5px;
	border-style: solid;
	width: 200px;
	height: 30px;
	margin-left: 10px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-weight: bold;
	transition: 0.5s;
}

.quantity:hover{
	box-shadow: 2px 2px 5px black;
}

.bottom-section{
	display: flex;
	justify-content: center;
	margin-right: 20px;
}

.bottom-section button{
	text-align: center;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-weight: bold;
	transition: 0.5s;
	background-color: #4C2E05;
	color: white;
	text-decoration: none;
	border: 1px solid;
	border-color: black;
	border-radius: 10px;
	display: inline-block;
	padding: 10px;
	margin-right: 20px;
	cursor: pointer;
}

.bottom-section button:hover{
	background-color: #F29F2C;
	color:#4C2E05;
	box-shadow: 5px 5px 10px #4C2E05;;
	transform: scale(1.1);
}

/*Order Form*/

.form-container {
	background-color: #F29F2C;
	box-shadow: 5px 5px 10px #4C2E05;
	border: 2px solid black;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 80%;
	margin: 0 auto;
	padding: 20px;
}

.form-table, .form-total{
	text-align: center;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.form-table input, .select{
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 15px;
	padding-left: 12px;
	border-radius: 5px;
	border-style: solid;
	width: 200px;
	height: 30px;
	font-weight: bold;
}
.title{
	background-color: #4C2E05;
	border-radius: 8px;
	width: 100%;
	text-align: center;
}

.title h2 {
	padding: 10px;
	color: white;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.buttons {
	margin-top: 20px;
	display: flex;
	justify-content: center;
}

.buttons input[type="button"] {
	background-color: #4C2E05;
	color: white;
	border: 1px solid black;
	border-radius: 10px;
	padding: 10px 20px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 16px;
	transition: background-color 0.3s ease;
}

.buttons input[type="button"]:hover {
	background-color: #6D4F27;
}

.success-left{
	background-color: #d89230;;
	display: flex;
	flex-direction: column;
	border: none;
	border-radius: 10px;
	margin-left: 10px;
	margin-right: 30px;
}

.success-right{
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	list-style-type: square;
	cursor: default;
}

.success-right h1{
	text-shadow: 2px 2px 5px #4C2E05;;
}

/*Company*/

.second-container{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 80vh;
	width: 100%;
	margin: 0 auto;
}

.third-container{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
	margin: 0 auto;
}

.company-photo{
	display: flex;
	flex-direction: column;
	border: none;
	border-radius: 10px;
	margin-left: 50px;
	margin-right: 50px;
}

.company-image{
	width: 600px;
	height: auto;
	border-radius: 20px;
}

.company-text{
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	list-style-type: square;
	cursor: default;
	margin-left: 50px;
	margin-right: 50px;
}

.company-button{
	display: flex;
	justify-content: center;
}

.company-button button{
	text-align: center;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-weight: bold;
	transition: 0.5s;
	background-color: #4C2E05;
	color: white;
	text-decoration: none;
	border: 1px solid;
	border-color: black;
	border-radius: 10px;
	display: inline-block;
	padding: 15px;
	padding-left: 50px;
	padding-right: 50px;
	cursor: pointer;
}

.company-button button:hover{
	background-color: #F29F2C;
	color:#4C2E05;
	box-shadow: 5px 5px 10px #4C2E05;;
	transform: scale(1.1);
}

/*About Us*/

.aboutus-container{
	background-color: #F29F2C;
	box-shadow: 5px 5px 10px #4C2E05;;
	display: flex;
	border: 2px;
	border-style: solid;
	border-color: black;
	border-radius: 10px ;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 70vh;
	max-width: 70%;
	margin: 0 auto;
	transition: 0.5s;
}

.aboutus-container:hover{
	box-shadow: 2px 2px 5px black;
	transform: scale(1.1);
}

.aboutus-left{
	background-color: #d89230;;
	display: flex;
	flex-direction: column;
	border: none;
	border-radius: 10px;
	margin-left: 10px;
	margin-right: 30px;
}

.aboutus-right{
	display: flex;
	flex-flow: column wrap;
	align-items: baseline;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 14px;
	list-style-type: square;
	cursor: default;
	margin-left: 10px;
	margin-right: 30px;
}

.aboutus-right h2{
	text-shadow: 2px 2px 5px #4C2E05;;
}

.aboutus-right textarea{
	box-shadow: 2px 2px 5px #4C2E05;
	border: none;
	border-radius: 5px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 12px;
}

.aboutus-message{
	display: flex;
	justify-content: center;
}

.aboutus-message button{
	margin-top: 20px;
	margin: 10px 10px;
	display: flex;
	justify-content: center;
	background-color: #4C2E05;
	color: white;
	border: 1px solid black;
	border-radius: 10px;
	padding: 10px 20px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 16px;
	transition: background-color 0.3s ease;
}

.aboutus-message button:hover {
	background-color: #6D4F27;
}

/*Log-In*/

.login-container {
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
	padding: 50px 50px;
	background-color: #4C2E05;
	border: 2px solid;
	border-radius: 10px;
}

.login-left {
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding-left: 20px;
	padding-right: 20px;
}

.login-left h1 {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	color: #F29F2C;
}

.login-right {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	color: #F29F2C;
}

.login-right button {
	background-color: #4C2E05;
	color: white;
	border: 1px solid black;
	border-radius: 10px;
	padding: 10px 20px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 16px;
	transition: background-color 0.3s ease;
}

.checkbox-container {
	display: flex;
	align-items: center;
	margin-top: 10px;
}

.checkbox-container input[type="checkbox"] {
	margin-right: 20px;
	margin-bottom: 20px;
	padding: 10px;
}

.checkbox-container label {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 14px;
}

.check-text{
	display: flex;
	flex-direction: column;
}
.login-right hr{
	width: 100%;
}

.login-right button:hover {
	background-color: #F29F2C;
	color: #4C2E05;
	box-shadow: 5px 5px 10px #4C2E05;
	transform: scale(1.1);
}

.login-right form {
	display: flex;
	flex-flow: column wrap;
	align-items: baseline;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 14px;
	list-style-type: square;
	cursor: default;
	margin-left: 10px;
	margin-right: 30px;
}

.login-right input {
	outline: none;
	padding: 0.8rem 1rem;
	margin-bottom: 0.8rem;
	margin-top: 1.1rem;
	font-size: 1.1rem;
	border: 0;
	border-radius: 50px;
}

.login-right input:hover {
	box-shadow: 5px 5px 10px #4C2E05;
	transform: scale(1.1);
	transition: 0.5s;
}

/*Admin*/

.admin-container{
	background-color: #4C2E05;
	box-shadow: 5px 5px 10px black;
	display: flex;
	border: 2px;
	border-style: solid;
	border-color: black;
	border-radius: 10px ;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 65vh;
	max-width: 70%;
	margin: 0 auto;
	transition: 0.5s;
}

.admin-container:hover{
	transform: scale(1.1);
}

.admin-left{
	background-color: #F29F2C;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	text-shadow: 5px 5px 10px #4C2E05;
	padding-left: 50px;
	padding-right: 50px;
	border: 1px solid;
	border-color: black;
	border-radius: 10px;
	height: 65vh;
}

.admin-right{
	display: flex;
	flex-flow: column wrap;
	flex: 1;
	justify-content: center;
	align-items: center ;
}

.admin-right a{
	padding: 10px 10px;
	border: none;
}

/*Index*/
.index-container{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 60vh;
	width: 100%;
	margin: 0 auto;
}
/* Footer */
.footer {
	text-align: center;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.footer-div{
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer-button a{
	background-color: #4C2E05;
	color: white;
	border: 1px solid black;
	border-radius: 10px;
	padding: 5px 5px;
	margin-left: 20px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 16px;
	transition: background-color 0.3s ease;
}

.footer-button a:hover {
	background-color: #F29F2C;
	color: #4C2E05;
	box-shadow: 5px 5px 10px #4C2E05;
	transform: scale(1.1);
}



/* Circular Content Carousel Style */
.ca-container{
	position:relative;
	margin:25px auto 20px auto;
	width:990px;
	height:430px;
}
.ca-wrapper{
	width:100%;
	height:100%;
	position:relative;
}
.ca-item{
	position:relative;
	float:left;
	width:330px;
	height:100%;
	text-align:center;
}
.ca-more{
	position: absolute;
	bottom: 10px;
	right:0px;
	padding:4px 15px;
	font-weight:bold;
	background: #ccbda2;
	text-align:center;
	color: white;
	font-family: "Georgia","Times New Roman",serif;
	font-style:italic;
	text-shadow:1px 1px 1px #897c63;
}
.ca-close{
	position:absolute;
	top:10px;
	right:10px;
	background:#fff url(../Images/Icons/cross.png) no-repeat center center;
	width:27px;
	height:27px;
	text-indent:-9000px;
	outline:none;
	-moz-box-shadow:1px 1px 2px rgba(0,0,0,0.2);
	-webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.2);
	box-shadow:1px 1px 2px rgba(0,0,0,0.2);
	opacity:0.7;
}
.ca-close:hover{
	opacity:1.0;
}
.ca-item-main {
	padding: 20px;
	position: absolute;
	top: 5px;
	left: 5px;
	right: 5px;
	bottom: 5px;
	background: #4C2E05;
	overflow: hidden;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.ca-icon {
	width: 233px;
	height: 189px;
	position: relative;
	margin: 0 auto;
	background: transparent url(../Images/Bag/black_bag.png) no-repeat center center;
	/* Adjusted background properties */
	background-size: cover;
	border-radius: 10px; /* Added border-radius */
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Added box-shadow */
}

.ca-item-2 .ca-icon{
	background-image:url(../images/animal2.png);
}
.ca-item-3 .ca-icon{
	background-image:url(../images/animal3.png);
}
.ca-item-4 .ca-icon{
	background-image:url(../images/animal4.png);
}
.ca-item-5 .ca-icon{
	background-image:url(../images/animal5.png);
}
.ca-item-6 .ca-icon{
	background-image:url(../images/animal6.png);
}
.ca-item-7 .ca-icon{
	background-image:url(../images/animal7.png);
}
.ca-item-8 .ca-icon{
	background-image:url(../images/animal8.png);
}
.ca-item h3{
	font-family: 'Coustard', sans-serif;
	text-transform:uppercase;
	font-size:30px;
	color:#000;
	margin-bottom:20px;
	height:85px;
	text-align:center;
	text-shadow: 0px 1px 1px #e4ebe9;
}
.ca-item h4{
	font-family: "Georgia","Times New Roman",serif;
	font-style:italic;
	font-size:12px;
	text-align:left;
	border-left:10px solid #b0ccc6;
	padding-left:10px;
	line-height:24px;
	margin:10px;
	position:relative;
}
.ca-item h4 span{
	text-indent:40px;
	display:block;
}
.ca-item h4  span.ca-quote{
	color:#f4eee3;
	font-size:100px;
	position:absolute;
	top:20px;
	left:0px;
	text-indent:0px;
}
.ca-content-wrapper{
	background:#6D4F27;
	position:absolute;
	width:0px; /* expands to width of the wrapper minus 1 element */
	height:440px;
	top:5px;
	text-align:left;
	z-index:10000;
	overflow:hidden;
}
.ca-content{
	width:660px;
	overflow:hidden;
}

.ca-content h6{
	margin:25px 20px 0px 35px;
	font-size:32px;
	padding-bottom:5px;
	color:#000;
	font-family: 'Coustard', sans-serif;
	color:#60817a;
	border-bottom:2px solid #99bcb4;
	text-shadow: 1px 1px 1px #99BCB4;
}
.ca-content ul{
	margin:20px 35px;
	height:30px;
}
.ca-content ul li{
	float:left;
	margin:0px 2px;
}
.ca-content ul li a{
	color:#fff;
	background:#000;
	padding:3px 6px;
	font-size:14px;
	font-family: "Georgia","Times New Roman",serif;
	font-style:italic;
}
.ca-content ul li a:hover{
	background:#fff;
	color:#000;
	text-shadow:none;
}
.ca-nav span{
	width:25px;
	height:38px;
	background:transparent url(../Images/Icons/arrows.png) no-repeat top left;
	position:absolute;
	top:50%;
	margin-top:-19px;
	left:-40px;
	text-indent:-9000px;
	opacity:0.7;
	cursor:pointer;
	z-index:100;
}
.ca-nav span.ca-nav-next{
	background-position:top right;
	left:auto;
	right:-40px;
}
.ca-nav span:hover{
	opacity:1.0;
}